.footer {
    @include flex;
    width: 100%;
    padding: 2.8rem 5rem;
    background: $footer-color;
    & a,
    p {
        @include main-font($size: 1rem);
        text-decoration: none;
    }
    & a {
        display: flex;
        align-items: center;
    }
    & .youtube {
        position: relative;
        display: block;
        width: 50px;
        height: 40px;
        border: 3px solid $footer-color;
        border-radius: 30%;
        box-shadow: 3px 3px 3px #5ff0c2;
        // background-image: url(../../../src/assets/icons/youtube-icon/youtube.svg);
        // background-repeat: no-repeat;
        margin-left: 0.4rem;
        cursor: pointer;
    }
    & .youtube::after {
        content: '';
        position: absolute;
        left: 16px;
        bottom: 8px;
        border: 8px solid transparent;
        border-left: 17px solid #4dbb98;
        filter: blur(1px);
    }
    & a:hover {
        text-decoration: underline;
    }

    @media screen and (max-width: $laptop) {
        padding: 1.5rem 3rem;
        & a,
        p {
            @include main-font($size: 0.6rem, $shadow: 2px 2px 2px $primary-color);
        }
        & .youtube {
              width: 40px;
              height: 30px;
              margin-left: 0.4rem;
              box-shadow: 2px 2px 2px #5ff0c2;
          }
          & .youtube::after {
              left: 14px;
              bottom: 6px;
              border: 5px solid transparent;
              border-left: 12px solid #4dbb98;
          }
    }

    @media screen and (max-width: $tablet) {
        padding: 1.5rem;
        & a,
        p {
            @include main-font($size: 0.5rem, $spacing: 0.2rem, $shadow: 1px 1px 1px $primary-color);
        }
        & .youtube {
            width: 30px;
            height: 20px;
            margin-left: 0.2rem;
            box-shadow: 1.8px 1.8px 1.8px #5ff0c2;
        }
        & .youtube::after {
            left: 10px;
            bottom: 3px;
            border: 4px solid transparent;
            border-left: 10px solid #4dbb98;
            filter: blur(.8px);
        }
    }

    @media screen and (max-width: $mobile) {
        padding: 1rem;
        min-height: 52px;
        & a,
        p {
            @include main-font($size: 0.3rem, $spacing: 0.1rem, $color: $primary-color, $shadow: 0px 0px 0px $primary-color);
        } 
        & .youtube {
            width: 16px;
            height: 10px;
            margin-left: 0.2rem;
            box-shadow: .8px .8px .8px #5ff0c2;
        }
        & .youtube::after {
            left: 4px;
            bottom: 0px;
            border: 2px solid transparent;
            border-left: 4.5px solid #4dbb98;
            filter: blur(.3px);
        }
    }
}
