.footer {
    @include flex;
    width: 100%;
    min-height: 7rem;
    padding: 0 6rem;
    background: $footer-color;
    & a,
    p {
        @include main-font($size: 1rem);
        text-decoration: none;
    }
    & a {
        display: flex;
        align-items: center;
    }
    & .youtube {
      position: relative;
        display: block;
        width: 50px;
        height: 40px;
        border: 3px solid $footer-color;
        border-radius: 30%;
        box-shadow: 3px 3px 3px #5ff0c2;
        // background-image: url(../../../src/assets/icons/youtube-icon/youtube.svg);
        // background-repeat: no-repeat;
        margin-left: 0.4rem;
        cursor: pointer;
    }
    & .youtube::after {
        content: '';
        position: absolute;
        left: 16px;
        bottom: 8px;
        border: 8px solid transparent;
        border-left: 17px solid #4dbb98;
        filter: blur(1px);
    }
    & a:hover {
        text-decoration: underline;
    }
}
