body.lock {
    overflow: hidden;
  }

.header {
    position: relative;
    @include flex;
    width: 100%;
    margin: 0 auto;
    background: $white-color;
    padding: 2rem 5rem;
    &__title {
        @include main-font($size: 1.6rem);
    }
    .nav {
        display: flex;
        align-items: center;
        list-style: none;
        padding-left: 0;
        &-item {
            margin: 0 1rem;
            @include main-font($size: 1.3rem, $shadow: none);
        }
        &-link {
            text-decoration: none;
            color: $black-color;
        }
    }
    .selected {
        color: $selected-color;
    }

    .burger {
        display: none;
        align-items: center;
        width: 20px;
        height: 20px;
        cursor: pointer;
        &__line {
            display: block;
            width: 100%;
            height: 2px;
            background: $black-color;
            &::before {
                content: '';
                @extend .burger__line;
                margin-top: 4px;
            }
            &::after {
                content: '';
                @extend .burger__line;
                margin-top: -10px;
            }
        }
        &__line,
        &::before,
        &::after {
            transition: all 0.2s ease-out;
        }
        &__open.burger__line {
            background: rgba(255, 255, 255, 0);
        }
        &__open.burger__line::before {
            transform: rotate(45deg);
            background: $black-color;
            margin-top: 0px;
        }
        &__open.burger__line::after {
            transform: rotate(-45deg);
            background: $black-color;
            margin-top: -2px;
        }
        &-menu {
            position: absolute;
            width: 100%;
            height: 100vh;
            background: $primary-color;
            top: 100%;
            left: -100%;
            z-index: 10;
            transition: all 0.2s ease-out;
            &__item {
                @include main-font($size: 1rem);
                margin-left: 1rem;
                margin-bottom: 2rem;
            }
            &__item:first-child {
                margin-top: 1rem;
            }
            &__item:last-child {
                margin-bottom: 1rem;
            }
        }
        &-menu__open {
            left: 0;
            overflow: hidden;
        }
        
    }

    @media screen and (max-width: $laptop) {
        padding: 1.2rem 3rem;
        &__title {
            font-size: 1.2rem;
        }
        .nav {
            &-item {
                margin: 0 0.5rem;
                font-size: 0.9rem;
                letter-spacing: 0.2rem;
            }
        }
    }

    @media screen and (max-width: $tablet) {
        padding: 1.2rem 1.5rem;
        &__title {
            font-size: 0.8rem;
            text-shadow: 2px 2px 2px $primary-color;
        }
        .nav {
            &-item {
                margin: 0 0.3rem;
                font-size: 0.6rem;
                letter-spacing: 0.1rem;
            }
        }
    }

    @media screen and (max-width: $mobile) {
        padding: .8rem 1rem;
        &__title {
            font-size: 1rem;
            letter-spacing: 0.2rem;
            text-shadow: 1px 1px 1px $primary-color;
        }
        .nav {
            display: none;
        }
        .burger {
            display: flex;
        }
    }
}


