.videos {
    width: 100%;
    background-image: url(../../../src/assets/img/bgrs/videos-bgr.png);
    // background-image: url(../../../assets/img/bgrs/videos-bgr.png);
    background-size: 100% 100%;
    padding: 6rem;
    &__list {
        @include flex($j-content: space-around);
        flex-wrap: wrap;
        gap: 2%;
        .item-link {
            display: block;
            margin-bottom: 1.5rem;
        }
    }
    &__title {
        color: $primary-color;
        @include main-font( $size: 1rem , $color: $primary-color);
        order: 1;
        padding-bottom: 10px;
        text-shadow: $text-shadow;
    }
}

.video__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

.video__field {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
}

.video__field iframe {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.back-btn {
    font-family: 'Geologica';
    width: 100%;
    margin-top: 20px;
}

.back-btn:hover {
  background: $success-color;
}
