.videos {
    width: 100%;
    min-height: 100vh;
    background-image: url(../../../src/assets/img/bgrs/videos-bgr.png);
    // background-image: url(../../../assets/img/bgrs/videos-bgr.png);
    background-size: 100% 100%;
    padding: 6rem 5rem;
    &__list {
        @include flex($j-content: space-around);
        flex-wrap: wrap;
        gap: 3%;
    }
    &__item-link {
        display: block;
        margin-bottom: 1.5rem;
        width: 450px;
    }
    &__title {
        color: $primary-color;
        @include main-font( $size: 1rem , $color: $primary-color);
        order: 1;
        padding-bottom: 10px;
        text-shadow: $text-shadow;
    }
    &__list-item img {
        width: 100%;
    }
}

.video__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 2rem;
}

.video__field {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
}

.video__field iframe {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.back-btn {
    font-family: 'Geologica';
    width: 100%;
    margin-top: 20px;
    background: $success-color;
}

.back-btn:hover {
  background: $primary-color;
}

@media screen and (max-width: 1596px) {
    .videos {
        padding: 3rem;
        &__title {
            font-size: .6rem;
            padding-bottom: 10px;
            text-shadow: $text-shadow;
        }
        &__item-link {
            width: 350px;
            margin-bottom: 1rem;
        }
    }
}

@media screen and (max-width: $laptop) {
    .videos {
        padding: 1rem;
        &__list {
            gap: 4%;
        }
        &__title {
            font-size: .4rem;
            padding-bottom: 8px;
            text-shadow: $text-shadow;
        }
        &__item-link {
            width: 300px;
            margin-bottom: .7rem;
        }
    }
}

@media screen and (max-width: 1010px) {
    .videos {
        padding: 1.3rem;
        &__list {
            gap: 3%;
        }
        &__title {
            font-size: .4rem;
            padding-bottom: 8px;
            text-shadow: $text-shadow;
        }
        &__item-link {
            width: 220px;
            margin-bottom: .7rem;
        }
    }
}

@media screen and (max-width: $tablet) {
    .videos {
        padding: 1rem;
        &__list {
            gap: 3%;
        }
        &__title {
            font-size: .3rem;
            letter-spacing: .2rem;
            padding-bottom: 5px;
            text-shadow: $text-shadow;
        }
        &__item-link {
            width: 180px;
            margin-bottom: .7rem;
        }
    }
}
