
// Main colors
$white-color              : #ffffff;
$black-color              : #000000;
$primary-color            : #5ff0c2;
$about-primary-color      : #acf5df;
$success-color            : #26de81;
$selected-color           : #ff0000;
$footer-color             : #141414;
$footer-text-color        : #a49e9e;
$song-text-bgr-color      : rgba(0, 120, 201, 0.5);

$text-shadow              :0.2rem 0.2rem 0.2rem #000000;

// Main breake points
$desktop                  :1920px;
$laptop                   :1366px;
$tablet                   :768px;
$mobile                   :500px;

$burger                   :950px;


