
// Main colors
$white-color              : #ffffff;
$black-color              : #000000;
$primary-color            : #5ff0c2;
$about-primary-color      : #acf5df;
$success-color            : #26de81;
$selected-color           : #ff0000;
$footer-color             : #050505;
$footer-text-color        : #a49e9e;;
$song-bgr-color           : rgba(0, 120, 201, 0.5);;

$text-shadow              :0.2rem 0.2rem 0.2rem #000000;

