extends ../layout/layout

block content 
  section.videos 
    ul.videos__list
      li.videos__list-item
        a.item-link(href="")
          img(src="../../../src/assets/img/video-covers/ocean.png", alt="screenshot") 
      li.videos__list-item
        a.item-link(href="")
          img(src="../../../src/assets/img/video-covers/alesya_dream.png", alt="screenshot") 
      li.videos__list-item
        a.item-link(href="")
          img(src="../../../src/assets/img/video-covers/summer_almost_gone.png", alt="screenshot") 
      li.videos__list-item
        a.item-link(href="")
          img(src="../../../src/assets/img/video-covers/man_on_a_moon.png", alt="screenshot") 
      li.videos__list-item
        a.item-link(href="")
          img(src="../../../src/assets/img/video-covers/love_kitchen.png", alt="screenshot") 
      li.videos__list-item
        a.item-link(href="")
          img(src="../../../src/assets/img/video-covers/under_the_stars.png", alt="screenshot") 
      li.videos__list-item
        a.item-link(href="")
          img(src="../../../src/assets/img/video-covers/space_express.png", alt="screenshot") 
      li.videos__list-item
        a.item-link(href="")
          img(src="../../../src/assets/img/video-covers/lulaby.png", alt="screenshot") 
      li.videos__list-item
        a.item-link(href="")
          img(src="../../../src/assets/img/video-covers/crossroads.png", alt="screenshot") 
      li.videos__list-item
        a.item-link(href="")
          img(src="../../../src/assets/img/video-covers/сhristmas.png", alt="screenshot") 