extends ../layout/layout

block header 
  +header-videos   
block content 
  section.videos 
    ul.videos__list
      li.videos__list-item#1
        a.item-link(href="#")
          img(src="../../../src/assets/img/video-covers/ocean.png", alt="screenshot") 
          //- img.videos__img(src="../../../assets/img/video-covers/ocean.png", alt="screenshot") 
      li.videos__list-item#2
        a.item-link(href="#")
          img(src="../../../src/assets/img/video-covers/alesya_dream.png", alt="screenshot") 
          //- img.videos__img(src="../../../assets/img/video-covers/alesya_dream.png", alt="screenshot") 
      li.videos__list-item#3
        a.item-link(href="#")
          img(src="../../../src/assets/img/video-covers/summer_almost_gone.png", alt="screenshot") 
          //- img.videos__img(src="../../../assets/img/video-covers/summer_almost_gone.png", alt="screenshot") 
      li.videos__list-item#4
        a.item-link(href="#")
          img(src="../../../src/assets/img/video-covers/man_on_a_moon.png", alt="screenshot") 
          //- img.videos__img(src="../../../assets/img/video-covers/man_on_a_moon.png", alt="screenshot") 
      li.videos__list-item#5
        a.item-link(href="#")
          img(src="../../../src/assets/img/video-covers/love_kitchen.png", alt="screenshot") 
          //- img.videos__img(src="../../../assets/img/video-covers/love_kitchen.png", alt="screenshot") 
      li.videos__list-item#6
        a.item-link(href="#")
          img(src="../../../src/assets/img/video-covers/under_the_stars.png", alt="screenshot") 
          //- img.videos__img(src="../../../assets/img/video-covers/under_the_stars.png", alt="screenshot") 
      li.videos__list-item#7
        a.item-link(href="#")
          img(src="../../../src/assets/img/video-covers/space_express.png", alt="screenshot") 
          //- img.videos__img(src="../../../assets/img/video-covers/space_express.png", alt="screenshot") 
      li.videos__list-item#8
        a.item-link(href="#")
          img(src="../../../src/assets/img/video-covers/lulaby.png", alt="screenshot") 
          //- img.videos__img(src="../../../assets/img/video-covers/lulaby.png", alt="screenshot") 
      li.videos__list-item#9
        a.item-link(href="#")
          img(src="../../../src/assets/img/video-covers/crossroads.png", alt="screenshot") 
          //- img.videos__img(src="../../../assets/img/video-covers/crossroads.png", alt="screenshot") 
      li.videos__list-item#10
        a.item-link(href="#")
          img(src="../../../src/assets/img/video-covers/сhristmas.png", alt="screenshot") 
          //- //- img.videos__img(src="../../../assets/img/video-covers/сhristmas.png", alt="screenshot") 