mixin header-about
  header.header
    h1.header__title ПЕРЕКРЁСТОК
    +nav-about

mixin header-videos 
  header.header
    h1.header__title ПЕРЕКРЁСТОК  
    +nav-videos

mixin header-songs 
  header.header
    h1.header__title ПЕРЕКРЁСТОК  
    +nav-songs