mixin header 
  header.header
    h1.header__title ПЕРЕКРЁСТОК
    nav
      ul.nav 
        li.nav-item 
          a(href="#").nav-link.selected главная
        li.nav-item 
          a(href="#").nav-link видео
        li.nav-item 
          a(href="#").nav-link песни
        li.nav-item 
          a(href="#").nav-link альбомы
        li.nav-item 
          a(href="#").nav-link новости
   
