mixin header-about
  header.header
    h1.header__title ПЕРЕКРЁСТОК
    +nav-about

mixin header-videos 
  header.header
    h1.header__title ПЕРЕКРЁСТОК  
    +nav-videos

mixin header-songs 
  header.header
    h1.header__title ПЕРЕКРЁСТОК  
    +nav-songs

mixin header-albums 
  header.header
    h1.header__title ПЕРЕКРЁСТОК  
    +nav-albums

mixin header-news 
  header.header
    h1.header__title ПЕРЕКРЁСТОК  
    +nav-news