mixin header-about
  header.header
    h1.header__title ПЕРЕКРЁСТОК
    +nav-about
    +burger-about

mixin header-videos 
  header.header
    h1.header__title ПЕРЕКРЁСТОК  
    +nav-videos
    +burger-videos

mixin header-songs 
  header.header
    h1.header__title ПЕРЕКРЁСТОК  
    +nav-songs
    +burger-songs

mixin header-albums 
  header.header
    h1.header__title ПЕРЕКРЁСТОК  
    +nav-albums
    +burger-albums

mixin header-news 
  header.header
    h1.header__title ПЕРЕКРЁСТОК  
    +nav-news
    +burger-news