html {
  font-size: 10px;
}

body {
  font-size: 16px;
}

.conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin: 0 auto;
}

body.lock {
  overflow: hidden;
}

.header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  background: #ffffff;
  padding: 2.8rem 5rem;
}
.header__title {
  font-family: "Geologica";
  font-style: normal;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.3rem;
  color: #000000;
  text-shadow: 3px 3px 3px #5ff0c2;
}
.header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  padding-left: 0;
}
.header .nav-item {
  margin: 0 1rem;
  font-family: "Geologica";
  font-style: normal;
  font-size: 1.3rem;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.3rem;
  color: #000000;
  text-shadow: none;
}
.header .nav-link {
  text-decoration: none;
  color: #000000;
}
.header .selected {
  color: #ff0000;
}
.header .burger {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.header .burger__line, .header .burger__line::after, .header .burger__line::before {
  display: block;
  width: 100%;
  height: 2px;
  background: #000000;
}
.header .burger__line::before {
  content: "";
  margin-top: 4px;
}
.header .burger__line::after {
  content: "";
  margin-top: -10px;
}
.header .burger__line, .header .burger__line::before, .header .burger__line::after, .header .burger::before, .header .burger::after {
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.header .burger__open.burger__line, .header .burger__open.burger__line::before, .header .burger__open.burger__line::after {
  background: rgba(255, 255, 255, 0);
}
.header .burger__open.burger__line::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  background: #000000;
  margin-top: 0px;
}
.header .burger__open.burger__line::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background: #000000;
  margin-top: -2px;
}
.header .burger-menu {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: #5ff0c2;
  top: 100%;
  left: -100%;
  z-index: 10;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.header .burger-menu__item {
  font-family: "Geologica";
  font-style: normal;
  font-size: 1rem;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.3rem;
  color: #000000;
  text-shadow: 3px 3px 3px #5ff0c2;
  margin-left: 1rem;
  margin-bottom: 2rem;
}
.header .burger-menu__item:first-child {
  margin-top: 1rem;
}
.header .burger-menu__item:last-child {
  margin-bottom: 1rem;
}
.header .burger-menu__open {
  left: 0;
  overflow: hidden;
}
@media screen and (max-width: 1366px) {
  .header {
    padding: 1.2rem 3rem;
  }
  .header__title {
    font-size: 1.2rem;
  }
  .header .nav-item {
    margin: 0 0.5rem;
    font-size: 0.9rem;
    letter-spacing: 0.2rem;
  }
}
@media screen and (max-width: 768px) {
  .header {
    padding: 1.2rem 1.5rem;
  }
  .header__title {
    font-size: 0.8rem;
    text-shadow: 2px 2px 2px #5ff0c2;
  }
  .header .nav-item {
    margin: 0 0.3rem;
    font-size: 0.6rem;
    letter-spacing: 0.1rem;
  }
}
@media screen and (max-width: 500px) {
  .header {
    padding: 0.8rem 1rem;
  }
  .header__title {
    font-size: 1rem;
    letter-spacing: 0.2rem;
    text-shadow: 1px 1px 1px #5ff0c2;
  }
  .header .nav {
    display: none;
  }
  .header .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 800px;
  padding: 6rem;
  background: url(../../../src/assets/img/bgrs/news-block.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.news__text {
  width: 100%;
  text-align: center;
  color: #5ff0c2;
  font-family: "Geologica";
  font-style: normal;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.3rem;
  color: #5ff0c2;
  text-shadow: 2px 2px 2px #000000;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 2.8rem 5rem;
  background: #141414;
}
.footer a,
.footer p {
  font-family: "Geologica";
  font-style: normal;
  font-size: 1rem;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.3rem;
  color: #000000;
  text-shadow: 3px 3px 3px #5ff0c2;
  text-decoration: none;
}
.footer a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer .youtube {
  position: relative;
  display: block;
  width: 50px;
  height: 40px;
  border: 3px solid #141414;
  border-radius: 30%;
  -webkit-box-shadow: 3px 3px 3px #5ff0c2;
          box-shadow: 3px 3px 3px #5ff0c2;
  margin-left: 0.4rem;
  cursor: pointer;
}
.footer .youtube::after {
  content: "";
  position: absolute;
  left: 16px;
  bottom: 8px;
  border: 8px solid transparent;
  border-left: 17px solid #4dbb98;
  -webkit-filter: blur(1px);
          filter: blur(1px);
}
.footer a:hover {
  text-decoration: underline;
}
@media screen and (max-width: 1366px) {
  .footer {
    padding: 1.5rem 3rem;
  }
  .footer a,
  .footer p {
    font-family: "Geologica";
    font-style: normal;
    font-size: 0.6rem;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.3rem;
    color: #000000;
    text-shadow: 2px 2px 2px #5ff0c2;
  }
  .footer .youtube {
    width: 40px;
    height: 30px;
    margin-left: 0.4rem;
    -webkit-box-shadow: 2px 2px 2px #5ff0c2;
            box-shadow: 2px 2px 2px #5ff0c2;
  }
  .footer .youtube::after {
    left: 14px;
    bottom: 6px;
    border: 5px solid transparent;
    border-left: 12px solid #4dbb98;
  }
}
@media screen and (max-width: 768px) {
  .footer {
    padding: 1.5rem;
  }
  .footer a,
  .footer p {
    font-family: "Geologica";
    font-style: normal;
    font-size: 0.5rem;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.2rem;
    color: #000000;
    text-shadow: 1px 1px 1px #5ff0c2;
  }
  .footer .youtube {
    width: 30px;
    height: 20px;
    margin-left: 0.2rem;
    -webkit-box-shadow: 1.8px 1.8px 1.8px #5ff0c2;
            box-shadow: 1.8px 1.8px 1.8px #5ff0c2;
  }
  .footer .youtube::after {
    left: 10px;
    bottom: 3px;
    border: 4px solid transparent;
    border-left: 10px solid #4dbb98;
    -webkit-filter: blur(0.8px);
            filter: blur(0.8px);
  }
}
@media screen and (max-width: 500px) {
  .footer {
    padding: 1.5rem 1rem;
    min-height: 52px;
  }
  .footer a,
  .footer p {
    font-family: "Geologica";
    font-style: normal;
    font-size: 0.3rem;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.1rem;
    color: #5ff0c2;
    text-shadow: 0px 0px 0px #5ff0c2;
  }
  .footer .youtube {
    width: 16px;
    height: 10px;
    margin-left: 0.2rem;
    -webkit-box-shadow: 0.8px 0.8px 0.8px #5ff0c2;
            box-shadow: 0.8px 0.8px 0.8px #5ff0c2;
  }
  .footer .youtube::after {
    left: 4px;
    bottom: 0px;
    border: 2px solid transparent;
    border-left: 4.5px solid #4dbb98;
    -webkit-filter: blur(0.3px);
            filter: blur(0.3px);
  }
}