html {
  font-size: 10px;
}

body {
  font-size: 16px;
}

.conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin: 0 auto;
}

body.lock {
  overflow: hidden;
}

.header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  background: #ffffff;
  padding: 2rem 5rem;
}
.header__title {
  font-family: "Geologica";
  font-style: normal;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.3rem;
  color: #000000;
  text-shadow: 3px 3px 3px #5ff0c2;
}
.header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  padding-left: 0;
}
.header .nav-item {
  margin: 0 1rem;
  font-family: "Geologica";
  font-style: normal;
  font-size: 1.3rem;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.3rem;
  color: #000000;
  text-shadow: none;
}
.header .nav-link {
  text-decoration: none;
  color: #000000;
}
.header .selected {
  color: #ff0000;
}
.header .burger {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.header .burger__line, .header .burger__line::after, .header .burger__line::before {
  display: block;
  width: 100%;
  height: 2px;
  background: #000000;
}
.header .burger__line::before {
  content: "";
  margin-top: 4px;
}
.header .burger__line::after {
  content: "";
  margin-top: -10px;
}
.header .burger__line, .header .burger__line::before, .header .burger__line::after, .header .burger::before, .header .burger::after {
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.header .burger__open.burger__line, .header .burger__open.burger__line::before, .header .burger__open.burger__line::after {
  background: rgba(255, 255, 255, 0);
}
.header .burger__open.burger__line::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  background: #000000;
  margin-top: 0px;
}
.header .burger__open.burger__line::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background: #000000;
  margin-top: -2px;
}
.header .burger-menu {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: #5ff0c2;
  top: 100%;
  left: -100%;
  z-index: 10;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.header .burger-menu__item {
  font-family: "Geologica";
  font-style: normal;
  font-size: 1rem;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.3rem;
  color: #000000;
  text-shadow: 3px 3px 3px #5ff0c2;
  margin-left: 1rem;
  margin-bottom: 2rem;
}
.header .burger-menu__item:first-child {
  margin-top: 1rem;
}
.header .burger-menu__item:last-child {
  margin-bottom: 1rem;
}
.header .burger-menu__open {
  left: 0;
  overflow: hidden;
}
@media screen and (max-width: 1366px) {
  .header {
    padding: 1.2rem 3rem;
  }
  .header__title {
    font-size: 1.2rem;
  }
  .header .nav-item {
    margin: 0 0.5rem;
    font-size: 0.9rem;
    letter-spacing: 0.2rem;
  }
}
@media screen and (max-width: 768px) {
  .header {
    padding: 1.2rem 1.5rem;
  }
  .header__title {
    font-size: 0.8rem;
    text-shadow: 2px 2px 2px #5ff0c2;
  }
  .header .nav-item {
    margin: 0 0.3rem;
    font-size: 0.6rem;
    letter-spacing: 0.1rem;
  }
}
@media screen and (max-width: 500px) {
  .header {
    padding: 0.8rem 1rem;
  }
  .header__title {
    font-size: 1rem;
    letter-spacing: 0.2rem;
    text-shadow: 1px 1px 1px #5ff0c2;
  }
  .header .nav {
    display: none;
  }
  .header .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.songs {
  width: 100%;
  min-height: 100vh;
  background-image: url(../../../src/assets/img/bgrs/songs-bgr.png);
  background-size: 100% 100%;
  padding: 6rem;
}
.songs__list {
  width: 100%;
  margin-bottom: 2rem;
}
.songs__list:not(:first-child) {
  cursor: pointer;
}
@media screen and (max-width: 1366px) {
  .songs {
    padding: 3rem;
  }
}
@media screen and (max-width: 768px) {
  .songs {
    padding: 1.5rem;
  }
  .songs .song__wrapper p {
    font-size: 1rem;
    text-shadow: 1px 1px 1px #000000;
  }
}
@media screen and (max-width: 500px) {
  .songs {
    padding: 1rem;
  }
  .songs .song__wrapper p {
    font-size: 0.6rem;
  }
  .songs .text {
    width: 16rem;
  }
  .songs .text__field {
    font-size: 0.8rem;
  }
  .songs .text__play-btn, .songs .text__back-btn,
  .songs .text .pause-btn {
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
  }
  .songs .text__close {
    width: 7rem;
  }
  .songs .text .back-btn-text {
    margin-left: 0;
  }
  .songs .song:not(:first-child):hover * {
    text-shadow: 1px 1px 1px #000000;
  }
}

.song {
  position: relative;
  width: 100%;
}
.song__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 20px;
}
.song__title, .song__album {
  font-family: none;
  font-style: normal;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.1rem;
  color: #ffffff;
  text-shadow: 2px 2px 2px #000000;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.song::after {
  position: absolute;
  left: 0%;
  bottom: -10%;
  width: 100%;
  height: 1px;
  content: "";
  background: #fff;
}
.song:not(:first-child):hover * {
  color: #5ff0c2;
  text-shadow: 2px 2px 2px #000000;
}
.song:not(:first-child):hover::after {
  background: #5ff0c2;
}
.song:not(:first-child) * {
  cursor: pointer;
}
.song:first-child {
  pointer-events: none;
}

.text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: center;
      align-self: center;
  width: 24rem;
  margin: 0 auto;
}
.text .btn-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.text__music {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 8rem;
  margin-bottom: 20px;
  border-radius: 50px;
  padding: 4px 15px 4px 4px;
  cursor: pointer;
}
.text__music:hover .text__play-btn {
  background: url("../../../src/assets/icons/player-icon/play_green.svg");
  background-size: cover;
  background-repeat: no-repeat;
}
.text__music:hover .pause-btn {
  background: url("../../../src/assets/icons/player-icon/pause_green.svg");
  background-size: cover;
  background-repeat: no-repeat;
}
.text__music:hover p {
  color: #5ff0c2;
}
.text__play-btn {
  width: 30px;
  height: 30px;
  background: url("../../../src/assets/icons/player-icon/play.svg");
  background-size: cover;
  border: 0;
  padding: 0;
}
.text .btn-text,
.text .back-btn-text {
  font-family: "Geologica";
  font-style: normal;
  font-size: 10px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.2rem;
  color: #000000;
  text-shadow: none;
  color: #ffffff;
  cursor: pointer;
  margin-left: 10px;
}
.text__field {
  font-family: "Geologica";
  font-style: normal;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.6rem;
  letter-spacing: 0;
  color: #ffffff;
  text-shadow: 3px 3px 3px #5ff0c2;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  text-shadow: 2px 2px 2px #000000;
  background: rgba(0, 120, 201, 0.5);
  padding: 20px;
  pointer-events: none;
  white-space: pre-line;
}
.text__close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 8rem;
  margin-bottom: 20px;
  border-radius: 50px;
  padding: 4px 15px 4px 4px;
  cursor: pointer;
}
.text__close:hover button {
  background: url("../../../src/assets/icons/player-icon/icons-close_green.svg");
  background-size: cover;
}
.text__close:hover p {
  color: #5ff0c2;
}
.text__back-btn {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background: url("../../../src/assets/icons/player-icon/icons-close.svg");
  background-size: cover;
  background-size: 30px 30px;
  background-repeat: no-repeat;
  border: 0;
  padding: 0;
}

.pause-btn {
  width: 30px;
  height: 30px;
  background: url("../../../src/assets/icons/player-icon/pause.svg");
  background-size: cover;
  border: 0;
  padding: 0;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 2rem 5rem;
  background: #141414;
}
.footer a,
.footer p {
  font-family: "Geologica";
  font-style: normal;
  font-size: 1rem;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.3rem;
  color: #000000;
  text-shadow: 3px 3px 3px #5ff0c2;
  text-decoration: none;
}
.footer a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer .youtube {
  position: relative;
  display: block;
  width: 50px;
  height: 40px;
  border: 3px solid #141414;
  border-radius: 30%;
  -webkit-box-shadow: 3px 3px 3px #5ff0c2;
          box-shadow: 3px 3px 3px #5ff0c2;
  margin-left: 0.4rem;
  cursor: pointer;
}
.footer .youtube::after {
  content: "";
  position: absolute;
  left: 16px;
  bottom: 8px;
  border: 8px solid transparent;
  border-left: 17px solid #4dbb98;
  -webkit-filter: blur(1px);
          filter: blur(1px);
}
.footer a:hover {
  text-decoration: underline;
}
@media screen and (max-width: 1366px) {
  .footer {
    padding: 1.5rem 3rem;
  }
  .footer a,
  .footer p {
    font-family: "Geologica";
    font-style: normal;
    font-size: 0.6rem;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.3rem;
    color: #000000;
    text-shadow: 2px 2px 2px #5ff0c2;
  }
  .footer .youtube {
    width: 40px;
    height: 30px;
    margin-left: 0.4rem;
    -webkit-box-shadow: 2px 2px 2px #5ff0c2;
            box-shadow: 2px 2px 2px #5ff0c2;
  }
  .footer .youtube::after {
    left: 14px;
    bottom: 6px;
    border: 5px solid transparent;
    border-left: 12px solid #4dbb98;
  }
}
@media screen and (max-width: 768px) {
  .footer {
    padding: 1.5rem;
  }
  .footer a,
  .footer p {
    font-family: "Geologica";
    font-style: normal;
    font-size: 0.5rem;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.2rem;
    color: #000000;
    text-shadow: 1px 1px 1px #5ff0c2;
  }
  .footer .youtube {
    width: 30px;
    height: 20px;
    margin-left: 0.2rem;
    -webkit-box-shadow: 1.8px 1.8px 1.8px #5ff0c2;
            box-shadow: 1.8px 1.8px 1.8px #5ff0c2;
  }
  .footer .youtube::after {
    left: 10px;
    bottom: 3px;
    border: 4px solid transparent;
    border-left: 10px solid #4dbb98;
    -webkit-filter: blur(0.8px);
            filter: blur(0.8px);
  }
}
@media screen and (max-width: 500px) {
  .footer {
    padding: 1.5rem 1rem;
    min-height: 52px;
  }
  .footer a,
  .footer p {
    font-family: "Geologica";
    font-style: normal;
    font-size: 0.3rem;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.1rem;
    color: #5ff0c2;
    text-shadow: 0px 0px 0px #5ff0c2;
  }
  .footer .youtube {
    width: 16px;
    height: 10px;
    margin-left: 0.2rem;
    -webkit-box-shadow: 0.8px 0.8px 0.8px #5ff0c2;
            box-shadow: 0.8px 0.8px 0.8px #5ff0c2;
  }
  .footer .youtube::after {
    left: 4px;
    bottom: 0px;
    border: 2px solid transparent;
    border-left: 4.5px solid #4dbb98;
    -webkit-filter: blur(0.3px);
            filter: blur(0.3px);
  }
}