mixin about-script
  script( type="module" src="../../about.js") 

mixin videos-script
  script( type="module" src="../../videos.js")

mixin songs-script
  script( type="module" src="../../songs.js")

mixin albums-script
  script( type="module" src="../../albums.js")

mixin news-script
  script( type="module" src="../../news.js")