mixin about-style
  link(rel="stylesheet", href='../../style/about.css')
  link(rel="stylesheet", href='../../style/reset.css')
  link(rel="stylesheet", href='../../style/fonts.css')

mixin videos-style
  link(rel="stylesheet", href='../../style/videos.css')
  link(rel="stylesheet", href='../../style/reset.css')
  link(rel="stylesheet", href='../../style/fonts.css')

mixin songs-style
  link(rel="stylesheet", href='../../style/songs.css')
  link(rel="stylesheet", href='../../style/reset.css')
  link(rel="stylesheet", href='../../style/fonts.css')

mixin albums-style
  link(rel="stylesheet", href='../../style/albums.css')
  link(rel="stylesheet", href='../../style/reset.css')
  link(rel="stylesheet", href='../../style/fonts.css')

mixin news-style
  link(rel="stylesheet", href='../../style/news.css')
  link(rel="stylesheet", href='../../style/reset.css')
  link(rel="stylesheet", href='../../style/fonts.css')