mixin albums-stuff
  .albums__wrapper
    .album1__wrapper
      p.album1__title Перекрёсток
      div.album1
        div.album1__cover 
        div.album1__songs 
          p
            |Наконец-то Рождество!<br>
            |Человек на луне<br>
            |Перекрёсток<br>
            |Океан<br>
            |Колыбельная<br>
            |Межпланетный экспресс<br>
            |Под звёздами вселенной<br>
            |Кухня любви<br>
            |Когда закончится лето...<br>
            |Сон Алеси<br>
      p.album1__release 2022

    .album2__wrapper
      p.album2__title Челевек на луне
      div.album2
        div.album2__cover 
        div.album2__songs
          p
            |Люди как куклы<br>
            |Я всё ещё люблю тебя<br>
            |Солнечный Король<br>
            |Отель разбитых сердец<br>
            |Караван мечты<br>
            |На старый город падает снег<br>
            |Звёздный вальс<br>
            |Перерождение<br>
      p.album2__release 2024