mixin albums-stuff
  .albums__wrapper
    .album1
      p.album1__title Перекрёсток
      .album1__cover 
      p.album1__release 2022
      .album1__songs 
        p
          |Наконец-то Рождество!<br>
          |Человек на луне<br>
          |Перекрёсток<br>
          |Океан<br>
          |Колыбельная<br>
          |Межпланетный экспресс<br>
          |Под звёздами вселенной<br>
          |Кухня любви<br>
          |Когда закончится лето...<br>
          |Сон Алеси<br>
    .album2
      p.album2__title Челевек на луне
      .album2__cover 
      p.album2__release 2024
      .album2__songs
        p
          |Люди как куклы<br>
          |Я всё ещё люблю тебя<br>
          |Солнечный Король<br>
          |Отель разбитых сердец<br>
          |Караван мечты<br>
          |На старый город падает снег...<br>
          |Звёздный вальс<br>
          |Перерождение<br>