- var page_names =[ { "главная": "index.html"},{ "видео": "videos.html"},{ "песни": "songs.html"}, {"альбомы": "albums.html"}, {"новости": "news.html" }]

mixin nav-about 
  nav
    ul.nav
      each val, key in page_names 
        each url, name in val  
          li(class="nav-item")   
            a(href= url)(class= (key === 0 ? "nav-link selected": "nav-link"))= name

mixin nav-videos 
  nav
    ul.nav
      each val, key in page_names 
        each url, name in val  
          li(class="nav-item")   
            a(href= url)(class= (key === 1 ? "nav-link selected": "nav-link"))= name

mixin nav-songs 
  nav
    ul.nav
      each val, key in page_names 
        each url, name in val  
          li(class="nav-item")   
            a(href= url)(class= (key === 2 ? "nav-link selected": "nav-link"))= name

mixin nav-albums 
  nav
    ul.nav
      each val, key in page_names 
        each url, name in val  
          li(class="nav-item")   
            a(href= url)(class= (key === 3 ? "nav-link selected": "nav-link"))= name

mixin nav-news 
  nav
    ul.nav
      each val, key in page_names 
        each url, name in val  
          li(class="nav-item")   
            a(href= url)(class= (key === 4 ? "nav-link selected": "nav-link"))= name
