mixin nav-about 
  nav
    ul.nav 
      li.nav-item 
        a(href="index.html").nav-link.selected главная
      li.nav-item 
        a(href="videos.html").nav-link видео
      li.nav-item 
        a(href="songs.html").nav-link песни
      li.nav-item 
        a(href="#").nav-link альбомы
      li.nav-item 
        a(href="#").nav-link новости

mixin nav-videos 
  nav
    ul.nav 
      li.nav-item 
        a(href="index.html").nav-link главная
      li.nav-item 
        a(href="videos.html").nav-link.selected видео
      li.nav-item 
        a(href="songs.html").nav-link песни
      li.nav-item 
        a(href="#").nav-link альбомы
      li.nav-item 
        a(href="#").nav-link новости

mixin nav-songs 
  nav
    ul.nav 
      li.nav-item 
        a(href="index.html").nav-link главная
      li.nav-item 
        a(href="videos.html").nav-link видео
      li.nav-item 
        a(href="songs.html").nav-link.selected песни
      li.nav-item 
        a(href="#").nav-link альбомы
      li.nav-item 
        a(href="#").nav-link новости