- var songs_list = [ { "Название": "Альбом / Дата" }, { 'Наконец-то Рождество!': 'Перекрёсток - 20/12/2021'}, { 'Человек на луне': 'Перекрёсток - 01/01/2022'}, { 'Перекрёсток': 'Перекрёсток - 18/02/2022'}, { 'Океан': 'Перекрёсток - 09/02/2022'}, { 'Колыбельная': 'Перекрёсток - 14/03/2022'}, { 'Межпланетный экспресс': 'Перекрёсток - 08/04/2022'}, { 'Под звёздами вселенной': 'Перекрёсток - 06/05/2022'}, { 'Кухня любви': 'Перекрёсток - 31/05/2022'}, { 'Когда закончится лето': 'Перекрёсток - 26/08/2022'}, { 'Сон Алеси': 'Перекрёсток - 22/09/2022'}, { 'Я всё ещё люблю тебя': '........ - ........'}, { 'Люди как куклы': '........ - ........'}, { 'Солнечный Король': '........ - ........'}, { 'Отель разбитых сердец': '........ - ........'}, { 'Караван мечты': '........ - ........'}, { 'На старый город падает снег...':'........ - ........'}, { 'Звёздный вальс': '........ - ........'}, { 'Перерождение': '........ - ........'} ];

mixin song-list 
  ul.songs__list
    each item, index in songs_list
      each data, title in item 
        li.song(id= index)= item.index 
          .song__wrapper
            p.song__title= title 
            p.song__album= data